{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
{$admin_current_location = 'TheliaBlocks'}
{/block}

{block name="check-resource"}admin.content{/block}
{block name="check-access"}update{/block}

{block name="page-title"}{intl l='Modifier la page'}{/block}

{block name="main-content"}

<div class="catalog edit-page">
  <div id="wrapper" class="container">
    <div class="row">
      {loop name="page_edit" type="TheliaBlocks.list" id="{$page_id}" }

      {assign var='close_url' value="{url path='/admin/TheliaBlocks'}"}

      <div class="col-md-12 general-block-decorator">
        <div class="row">
          <div class="col-md-7 title">
            {intl l='Modifier la page %title' title={$TITLE}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <ul class="nav nav-tabs" id="tabbed-menu">
              <li><a href="#general" data-toggle="tab">{intl l="General description"}</a></li>
              <li><a href="#seo" data-toggle="tab">{intl l="SEO"}</a></li>
            </ul>

            <div class="tab-content">

              <div class="tab-pane fade" id="general">
                <div class="form-container">
                  {form name="TheliaBlocks_page_modification"}
                  <form method="POST" action="{url path='/admin/TheliaBlocks/save'}" {form_enctype} class="clearfix">
                    {form_hidden_fields}

                    {include
                    file="includes/inner-form-toolbar.html"
                    close_url=$close_url
                    }

                    {* Be sure to get the page ID, even if the form could not be validated *}
                    <input type="hidden" name="page_id" value="{$ID}" />
                    <input type="hidden" name="current_tab" value="general" />

                    {render_form_field field='success_url' value={$close_url}}

                    {* Display error message if exist *}
                    {include file='includes/notifications.html' message=$form_error_message}

                    <div class="row">
                      <div class="col-md-8">
                        {render_form_field field='data'}
                      </div>
                    </div>

                    {include
                    file="includes/inner-form-toolbar.html"
                    hide_submit_buttons = false
                    hide_flags = true
                    close_url=$close_url
                    }

                    <small>{intl l='Page créée le %date_create. Dernière modification le  %date_change' date_create="{format_date date=$CREATE_DATE}" date_change="{format_date date=$UPDATE_DATE}"}</small>

                  </form>
                  {/form}
                </div>
              </div>

              <div class="tab-pane fade" id="seo">
                {include file="includes/seo-tab.html"
                formAction  = "{url path='/admin/TheliaBlocks/seo/save'}"
                pageUrl     = "{url path='/admin/TheliaBlocks/update' page_id=$ID}"
                current_id  = $ID
                closeUrl    = $close_url
                success_url = $close_url
                seoType     = 'page'
                }
              </div>

            </div>
          </div>
        </div>
      </div>
      {/loop}
    </div>

  </div>
</div>

{/block}

{block name="javascript-initialization"}
{javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
<script src="{$asset_url}"></script>
{/javascripts}

<script>

    $(function() {
        $.get('{url path="/api/TheliaBlocks"}', function (response) {
            console.log(response);
        });
        $.get('{url path="/api/TheliaBlocks/1"}', function (response) {
            console.log(response);
        });
        //$.post( '{url path="/api/TheliaBlocks/1"}', { name: "John", time: "2pm" } );
        var url = '{url path="/api/TheliaBlocks"}';
        {literal}
        $.ajax({
            type: "PUT",
            url: url,
            data: {TheliaBlocks_page_modification: {id: "1", data: "Boston", success_url:"2"}}
        }).done(function( response ) {
            console.log('PUT',response);
        });
        {/literal}

        // Atomatic ajax tab load, if data-href is defined.
        $('.nav-tabs a[data-href]').on('shown.bs.tab', function(ev) {
            var $this = $(this);
            $($this.attr('href')).load($this.data('href'), function(ev) {
                if($this.data('callback')) {
                    eval($this.data('callback') + '();');
                }
            });

        });

        $('.use_default_rewriten_url').click(function(ev) {
            alert("Not functionnal");
            ev.preventDefault();
        });

        // Load active tab
        $('.nav-tabs a[href="#{$current_tab}"]').trigger("click");

        });
</script>
{/block}
