{block name="after-admin-css"}
    <link rel="stylesheet" href="{encore_module_asset file='vendor/index.css' module="TheliaBlocks"}" />
    {hook name="thelia.blocks.plugincss"}
{/block}

{block name="main-content"}
    <div id="thelia-blocks-root-{$itemId}-{$itemType}" class="thelia-blocks-ui"></div>

    <script>
        window.groupId = {$groupId|default:'null'};
        window.itemId = {$itemId};
        window.itemType = "{$itemType}";
    </script>
{/block}


{block name="javascript-last-call"}

        <script>
            API_ROOT = "{navigate to='index'}/"
        </script>

        <script type="text/javascript" crossorigin src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
        <script type="text/javascript" crossorigin src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
        <script type="text/javascript" src="{encore_module_asset file='vendor/index.global.js' module="TheliaBlocks"}"></script>

        {hook name="thelia.blocks.plugins"}

        {literal}
        <script>
             ReactDOM.render(React.createElement(TheliaBlocks.EditPage, {apiUrl: API_ROOT}, null), document.getElementById('thelia-blocks-root'))
        </script>
        {/literal}
{/block}
