<script type="text/javascript" crossorigin src="https://unpkg.com/react@17.0.2/umd/react.development.js"></script>
<script type="text/javascript" crossorigin src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.development.js"></script>
<script type="text/javascript" src="{javascript file='vendor/index.global.js' source="TheliaBlocks"}"></script>

<script>
    window.THELIA_BLOCKS_API_ROOT = "{navigate to='index'}/open_api"

    {$locales = []}
    {loop type="lang" name="lang.listing"}
        {$locales[] = [
            'id' => $ID,
            'title' => $TITLE,
            'code' => $LOCALE,
            'active' => $IS_DEFAULT
        ]}
    {/loop}
    window.THELIA_BLOCKS_LOCALES = {$locales|json_encode nofilter};
</script>

{hook name="thelia.blocks.variables"}

{hook name="thelia.blocks.plugins"}
