<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <hooks>
        <hook id="theliablocks.hook.menu" class="TheliaBlocks\Hook\TheliaBlocksMenuHook" scope="request">
            <tag name="hook.event_listener" event="main.in-top-menu-items" type="back" method="onMainInTopMenuItems" />
        </hook>
        <hook id="theliablocks.hook.plugin" class="TheliaBlocks\Hook\TheliaBlocksPluginHook" scope="request">
            <tag name="hook.event_listener" event="thelia.blocks.plugins" type="back" method="onPlugins" />
        </hook>
        <hook id="theliablocks.hook" class="TheliaBlocks\Hook\TheliaBlocksBackHook">
            <tag name="hook.event_listener" event="product.tab" type="backoffice" method="onProductTab"/>
            <tag name="hook.event_listener" event="category.tab" type="backoffice" method="onCategoryTab"/>
            <tag name="hook.event_listener" event="content.tab" type="backoffice" method="onContentTab"/>
            <tag name="hook.event_listener" event="folder.tab" type="backoffice" method="onFolderTab"/>
        </hook>
    </hooks>

</config>
