<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>TheliaBlocks\TheliaBlocks</fullnamespace>
    <descriptive locale="en_US">
        <title>Assemble blocks and display them wherever you want</title>
        <!--
        <subtitle></subtitle>
        <description></description>
        <postscriptum></postscriptum>
        -->
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Assemblez des blocs et afficher les où vous voulez</title>
    </descriptive>
    <!-- <logo></logo> -->
    <!--<images-folder>images</images-folder>-->
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>2.1.17</version>
    <authors>
        <author>
            <name></name>
            <email></email>
        </author>
    </authors>
    <type>classic</type>
    <required>
        <module version=">=2.0.0">OpenApi</module>
        <module version=">=2.0.0">ShortCode</module>
        <module version=">=1.0.0">TheliaLibrary</module>
    </required>
    <thelia>2.5.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
